.App {
  display: grid;
  margin: 0 auto;
  width: 1210px;
  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  background-image: linear-gradient(
    to top right,
    rgb(148, 157, 255),
    rgb(150, 166, 252),
    rgb(153, 175, 248),
    rgb(155, 184, 245),
    rgb(157, 193, 242),
    rgb(159, 202, 239),
    rgb(162, 210, 235),
    rgb(164, 219, 232),
    rgb(166, 228, 229),
    rgb(168, 237, 226),
    rgb(171, 246, 222),
    rgb(173, 255, 219)
  );
}

.app-wrapper-content {
  grid-area: content;
}
