.App {
  display: grid;
  margin: 0 auto;
  width: 1210px;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: header;
  background-color: aqua;
}
.header img {
  width: 60px;
}
.sidebar {
  grid-area: nav;
  background-color: blue;
}
.content {
  grid-area: content;
  background-color: burlywood;
}
